@use "../variables";

.time {
  display: flex;
  justify-content: center;
}

.time__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.time__content img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}
